/* Estilos para tela grande (PC) */
@media screen and (min-width: 768px) {
    .tabela-container {
        width: 80%;
        margin: 20px auto;
        margin-top: 100px;
    }
}

/* Estilos para tela pequena (celular) */
@media screen and (max-width: 767px) {
    .tabela-container {
        width: 100%;
        overflow-x: auto; /* Adiciona rolagem horizontal */
    }
}body {
    font-family: "Poppins", sans-serif; /* Usando a fonte Poppins */
    background-color: #f2f5f8; /* Um tom mais suave de azul para o fundo */
    margin: 0;
    padding: 0;
}

.tabela-container {
    margin: 20px auto;
    width: 80%;
    margin-top: 100px;
}

.horarios {
    width: 100%;
    border-collapse: collapse;
    background-color: #6ab0de; /* Fundo azul mais forte para o cabeçalho */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden;
}

.horarios th, .horarios td {
    padding: 10px;
    text-align: center;
    border: 1px solid #dcdcdc; /* Linhas da tabela em tom mais suave */
}

.horarios th {
    background-color: #cfe7f8; /* Fundo azul mais suave para os cabeçalhos */
    color: #6ab0de; /* Texto azul mais forte */
}

.horarios td {
    background-color: #e7f2f8; /* Fundo azul ainda mais suave para células */
}

.horarios th:first-child {
    border-top-right-radius: 10px;
    background-color: transparent; /* Canto superior esquerdo transparente */
    color: #6ab0de; /* Tom azul mais forte para o texto */
}

.no-agenda-section {
    background-color: #e7f0f7; /* Azul claro */
    border: 1px solid #b8daff; /* Tom mais escuro de azul */
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column; /* Ajuste para empilhar os elementos verticalmente */
    justify-content: center; /* Centralizar verticalmente */
    align-items: center; /* Centralizar horizontalmente */
    height: 200px; /* Ajuste a altura conforme necessário */
}

.message {
    font-size: 16px;
    color: #007bff; /* Azul principal */
    margin: 0;
    text-align: center;
}

.message-container {
    text-align: center;
    width: 100%; /* Para garantir que o texto fique centralizado */
}

.botao_adicionar {
    background-color: #6ab0de;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    height: 40px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    display: block;    
    border: 1px solid black;
}

.botao_adicionar:hover {
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

h1 {
    text-align: center; /* Centraliza o texto */
    font-size: 28px; /* Define o tamanho da fonte */
    margin-top: 5px; /* Margem superior para espaçamento */
    color: #6ab0de; /* Cor do texto */
    font-weight: bold; /* Define a negrito */
}

.titulo {
    text-align: center; /* Centraliza o texto */
    font-size: 28px; /* Define o tamanho da fonte */
    color: #000000; /* Cor do texto */
    margin-bottom: 0%;
}

.caixa_titulo {
    background-color: #f8f9fa; /* Cor de fundo */
    border: 1px solid #ced4da; /* Borda sólida */
    border-radius: 8px; /* Cantos arredondados */
    padding: 20px; /* Espaçamento interno */
    margin-bottom: 0px; /* Margem inferior */
    text-align: center; /* Centralizar conteúdo */
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}